@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Show validators (regular expression)</h2>
<div>
    <div class="code">
        Shows how to validate text, in this case textinput is <b>val</b>
        There are two examples.
        First <b>validate2To5Int</b> where the criteria is positive integer values.
        The input value has to be between 2 and 5 digits.
        Secondly, <b>validateMoney4Decimals1</b> is the criteria that the input has to be from 1 to 4 digits,
        and the input can be either positive or negative.
        The example, the button click shows a call to <b>validateMoney4Decimals1</b>
    </div>

    <div class="code frame">
        $("#btnClick").click(function () {
        var val = $("#txtMine").val();
        // var res = validate2To5Int(val);
        var res = validateMoney4Decimals1(val);
        $("#result").text(res);
        });

        function validate2To5Int(data) {
        var regex = "^[0-9]{2,5}";
        var totest =data;
        var x =totest.match(regex);
        if (x!=null && x.length >0 && x[0] === totest)
        return "OK data";
        else
        return "invalid data";
        }

        function validateMoney4Decimals1(data) {
        var regex = "^\-{0,1}[0-9]{1,4},[0-9]{1,2}$|^\-{0,1}[0-9]{1,4}$";
        var totest =data;
        var x =totest.match(regex);
        if (x != null && x.length > 0 && x[0] === totest)
        return "OK data (" + new Date().getSeconds()+")";
        else
        return "invalid data (" + new Date().getSeconds()+")";
        }
    </div>
</div>
@{
}
