
@{
    ViewBag.Title = "CVMain";
}

<h2>CV 2020.</h2>
<!--This is new -->
<table class="resumeTbl">

    <tr>
        <td>
            <h3>CV - Johnny Olsen. <span id="myspanner" style="border:1px solid gray;color:blue;background-color:yellow; font-size:22px; padding: 5px;">&nbsp;&nbsp;Klik på nedenstående links for at se detaljer ....</span></h3>
        </td>

    </tr>

    <tr>
        <!--<div id="mybox" class="sectionFrame" style="width:750px; height:820px; display:none;">-->
        <td>

            <a class="anchor1">Personlige data</a>
            <div id="mybox" class="sectionFrame" style="width:750px; height100%; display:none;">
                <table class="resumeTbl">

                    <tr>
                        <td class="resumeDescColumn">Ægteskabelig status</td>
                        <td class="resumeText">Gift.<br /><br /></td>
                    </tr>
                    <tr>
                        <td class="resumeDescColumn">Sprog</td>
                        <td class="resumeText">Dansk (modersmål).<br />Behersker engelsk særdeles godt i skrift og tale.</td>

                    <tr>
                        <td rowspan="1" class="resumeDescColumn" style="vertical-align:top">Kontaktoplysninger:</td>
                        <td class="resumeText">
                            <b>
                                Johnny Olsen<br />
                                Rønne Alle 12, 2D<br />
                                2800 Kgs. Lyngby<br />
                                Mobíl: 4252 6035<br />
                                Mail: <span style="color:indigo">jooflyngby@gmail.com</span><br />
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="resumeTextEmphasized">
                            <br />
                            Jeg er en meget erfaren og engageret .NET udvikler, der intensivt ønsker at opdatere og vedligeholde mine kompetencer.
                            Mine styrker er bla. indenfor<br />
                            <b>
                                OOP<br />
                                C#, .NET Framework /.NET CORE.<br />
                                ASP.NET ( MVC / Web forms ),
                                AJAX<br />
                                WEB-API, REST<br />
                                Entity Framework.<br />
                                SQL<br />
                                Frontend, her Javascript/JQuery <br />
                                CSS,HTML5<br />


                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <a class="anchor3">Karriere-historik</a>
            <div id="CareerHistory" class="sectionFrame" style="width:1250px;display:none;">
                <table class="resumeTbl">
                    <tr>
                        <th>Periode</th>
                        <th>Arbejdgiver</th>
                    </tr>

                    <tr>
                        <td class="resumeText  history01" title="Klik for udvid/luk">Aug. 2019 - Feb. 2019 (Projektansættelse)</td>
                        <td class="resumeText history01" title="Klik for udvid/luk">Crunch-IT A/S</td>
                    </tr>
                    <tr class="nextRow1" style="display:none">
                        <td colspan="2" class="remHistory01">
                            <pre>
Videreudvikling og konvertering af Crunch-IT’s it-platform og driftsløsning til hospitality-sektoren f.eks. restauranter og lignende, hoteller, barer og konferencer.
Hele miljøet ligger i Microsoft Azure.
Konvertering fra eksisterende applikation der er udviklet i  ASP.NET(web-forms) i VB.NET til
ASP.NET (MVC5) og til C#.
Teknologi anvendt: <b>C# Javascript / JQuery og ASP.NET (MVC) og MS SQL.</b>

</pre>

                        </td>
                    </tr>

                    <tr>
                        <td class="resumeText  history02" title="Klik for udvid/luk">Okt. 2018 - Juli 2019</td>
                        <td class="resumeText history02" title="Klik for udvid/luk">EG A/S</td>
                    </tr>
                    <tr class="nextRow2" style="display:none">
                        <td colspan="2" class="remHistory01">
                            <pre>
Udvikling,vedligeholdelse og support af diverse software-produkter, 
herunder Selvbetjening og SmartDesigner til Kommunale instanser.
Teknologi anvendt:<b> C# Javascript / JQuery  og ASP.NET (MVC) og MS SQL.</b>
</pre>

                        </td>
                    </tr>

                    <tr>
                        <td class="resumeText  history03" title="Klik for udvid/luk">Nov. 2017 - Sept. 2018</td>
                        <td class="resumeText history03" title="Klik for udvid/luk">Miljøstyrelsen</td>
                    </tr>
                    <tr class="nextRow3" style="display:none">
                        <td colspan="2" class="remHistory02">
                            <pre>
Udvikling,vedligeholdelse og support af Miljøstyrelsens egenudviklede software-portefølje i C# (MVC).
Det drejer sig om hhv. Web og Windows-applikationer.
Derudover er jeg har gennemgået kursus i Robot-udvikling (RPA) , 
hvor udviklingsværktøjet er Uipath, og  har opnået certificering.
Teknologi anvendt: <b>C# Javascript / JQuery, ASP Classic og ASP.NET (Webforms og MVC) og MS SQL.</b>
</pre>

                        </td>
                    </tr>
                    @*<tr>

                        <td class="resumeText  history04" title="Klik for udvid/luk">Jan. 2017 - Apr. 2017<br /></td>
                        <td class="resumeText history04" title="Klik for udvid/luk">GM A/S (Freelanceopgave)</td>
                    </tr>
                    <tr class="nextRow4" style="display:none">
                        <td colspan="2" class="remHistory04">
                            <pre>
C# udvikling. Videreudvikling af Applikationen Firma-pc. Et såkaldt ”stempelur(tidsregistrering)”
pr. definition, der varetager alle funktioner såsom ansatte, projekter, komme/gå tid og tidsregistrering mv.
Det var en Windows App som blev konverteret til web. (ASP.NET)
Teknologi anvendt :<b> C# ASP.NET (Webforms og SOAP web-services) og MS SQL.</b>
</pre>

                        </td>
                    </tr>*@
                    <tr>
                        <td class="resumeText  history05" title="Klik for udvid/luk"> Nov. 2012 - Okt. 2017</td>
                        <td class="resumeText history05" title="Klik for udvid/luk">Accobat A/S</td>
                    </tr>
                    <tr class="nextRow5" style="display:none">
                        <td colspan="2" class="remHistory04">
                            <pre>
Design, udvikling og implementering af Sharepoint Server baserede applikationer både i 2010 og 2013.
Herunder webparts og Apps. Endvidere opbygning af Contenttypes, listdefinitioner og SP lister i almindelighed.
Rigtig godt kendskab til custom designed fieldtypes.
Blandt de applikationer jeg har stået for, er SRSS rapport template container og OLAP viewer som henholdsvis webpart og SP App.
Udviklet kode  i client-side i Jquery, Telerik KENDO UI.
Teknologi anvendt : <b>C# ASP.NET (Webforms), Javascript / JQuery og MS SQL.</b>
</pre>

                    <tr>
                        <td class="resumeText  history06" title="Klik for udvid/luk"> Feb. 2010 - Okt. 2012</td>
                        <td class="resumeText history06" title="Klik for udvid/luk">Software Innovation A/S</td>
                    </tr>
                    <tr class="nextRow6" style="display:none">
                        <td colspan="2" class="remHistory06">
                            <pre>
Implementation /installation of Software-Innovation product called ProArc which is an 
electronic document handling system for particularly technical drawings and f.ex. 
ACAD documents pinpointed to off-shore and construction business.
</pre>

                        </td>
                    </tr>

                </table>
            </div>
        </td>
    </tr>

    <tr>
        <!--kompetencer-->
        <td>
            <a class="anchor2">Kompetencer</a>
            <div id="competencebox" class="sectionFrame" style="width:1250px;display:none;">

                <table class="resumeTbl">

                    <tr>
                        <td style="width:612px; vertical-align:top">
                            <b>.NET Framework</b>
                        </td>
                        <td>Meget rutineret i specielt <b>C#</b><br />Kan dog <b>VB.NET</b> til husbehov.</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <b>.NET Core</b>
                        </td>
                        <td>
                            Overgangen fra <b>.NET Framework til .NET CORE</b> er relativ let, men der<br />
                            er en del faktorer hvor jeg kan blive endnu bedre. Det arbejdes der på.
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <b>ASP.NET</b>
                        </td>
                        <td>
                            Jeg startede naturligvis ud med <b>Web-forms</b>, men er i de seneste ca. 3 år blevet mere og mere <b>MVC 5 og WEB-API</b> der har overtaget billedet. Dette samtidig  med at det intuitive response på en given web-side blev og mere almindeligt og nærmest en must,
                            så blev front end-programmering mere en trend.

                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <b>Javascript/Jquery</b>
                        </td>
                        <td>
                            Yderst rutineret i specielt <b>JQuery og AJAX (mest JSON)</b> kald, udformning og design af web-sider med <b>CSS</b> klasser.

                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <b>SQL/ADO.NET og Entity Framework</b>
                        </td>
                        <td>
                            Jeg har gennem hele mn IT-karriere været tæt på opbygning
                            Entity Framework	og design/programmering af <b>SQL-backend</b>. Det være sig opbygning af <b>tabeller, functions</b> og i mindre grad <b>Stored Procedures</b>. Ligeledes anvendt traditionel <b>ADO.NET</b> og de seneste 3-4 år på <b>Entity Framework</b> for programmere mod SQL-server i <b>CRUD</b> funktionalitet.
                            Ligeledes på hjemmebane i anvendelse a <b>LINQ To Object</b> til alm. kodning og ligeledes prøvet <b>LINQ to XML</b> i mindre grad

                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <b>Machine Learning</b>
                        </td>
                        <td>
                            Jeg har stor interesse i <b>Machine-learning</b>, særligt <b>ML.NET</b> som jeg bruger en del tid på
                            at dygtiggøre mig i og indhente erfaring i.
                            Som baggrund har jeg været med til at udvikle et system til pasproduktionsgenerering og optimering for <b>Rigspolitiet</b>, hvor jeg implementerede en <b>back-propagation neuralt netværk</b> til mønstergenkendelse af passenes data.

                        </td>
                    </tr>
                </table>


            </div>
        </td>
    </tr>


</table>
@section scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#myspanner").fadeOut(4000);

                $(".anchor1").prop("title", "Udvid");
                $(".anchor1").click(function () {
                    if ($("#mybox").css("display") == "none") {
                        $(".anchor1").prop("title", "Luk");
                        $("#mybox").fadeIn("slow");
                    }
                    else {
                        $(".anchor1").prop("title", "Udvid");
                        $("#mybox").fadeOut("slow");
                    }

                });
                $(".anchor2").click(function () {
                    if ($("#competencebox").css("display") == "none") {
                        $(".anchor2").prop("title", "Luk");
                        $("#competencebox").fadeIn("slow");
                    }
                    else {
                        $(".anchor2").prop("title", "Udvid");
                        $("#competencebox").fadeOut("slow");
                    }
                });
                $(".anchor3").click(function () {
                    if ($("#CareerHistory").css("display") == "none") {
                        $(".anchor3").prop("title", "Luk");
                        $("#CareerHistory").fadeIn("slow");
                    }
                    else {
                        $(".anchor3").prop("title", "Udvid");
                        $("#CareerHistory").fadeOut("slow");
                    }
                });
                $("#vsActivator").click(function () {
                    if ($("tr[id^='otherVS']").css("display") == "none") {
                        $("tr[id^='otherVS']").fadeIn("slow");
                    }
                    else{
                        $("tr[id^='otherVS']").fadeOut("slow");
                    }
                });
                $("#MsActivator").click(function () {
                    if ($("tr[id^='MsOther']").css("display") == "none") {
                        $("tr[id^='MsOther']").fadeIn("slow");
                    }
                    else {
                        $("tr[id^='MsOther']").fadeOut("slow");
                    }
                });
                //OffActivator
                $("#OffActivator").click(function () {
                    if ($("tr[id^='OffOther']").css("display") == "none") {
                        $("tr[id^='OffOther']").fadeIn("slow");
                    }
                    else {
                        $("tr[id^='OffOther']").fadeOut("slow");
                    }
                });
                $(".history00").click(function () {
                    if ($(".nextRow0").css("display") == "none")
                        $(".nextRow0").fadeIn("slow");
                    else
                        $(".nextRow0").fadeOut("slow");

                });
                $(".history01").click(function () {
                    if ($(".nextRow1").css("display") == "none")
                        $(".nextRow1").fadeIn("slow");
                    else
                        $(".nextRow1").fadeOut("slow");

                });

                $(".history02").click(function () {
                    if ($(".nextRow2").css("display") == "none")
                        $(".nextRow2").fadeIn("slow");
                    else
                        $(".nextRow2").fadeOut("slow");

                });
                $(".history03").click(function () {
                    if ($(".nextRow3").css("display") == "none")
                        $(".nextRow3").fadeIn("slow");
                    else
                        $(".nextRow3").fadeOut("slow");

                });
                $(".history04").click(function () {
                    if ($(".nextRow4").css("display") == "none")
                        $(".nextRow4").fadeIn("slow");
                    else
                        $(".nextRow4").fadeOut("slow");

                });
                $(".history05").click(function () {
                    if ($(".nextRow5").css("display") == "none")
                        $(".nextRow5").fadeIn("slow");
                    else
                        $(".nextRow5").fadeOut("slow");

                });
                $(".history06").click(function () {
                    if ($(".nextRow6").css("display") == "none")
                        $(".nextRow6").fadeIn("slow");
                    else
                        $(".nextRow6").fadeOut("slow");

                });
                $(".history07").click(function () {
                    if ($(".nextRow7").css("display") == "none")
                        $(".nextRow7").fadeIn("slow");
                    else
                        $(".nextRow7").fadeOut("slow");

                });

            });
    </script>
}
