@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>How to read configuration value</h2>

<div class="code">In .NET CORE there is no Web.config but replaced by a appsettings.json file like this one:</div>
<div class="code frame">
    "Logging": {
            "LogLevel": {
                "Default": "Warning"
            }
        },
        "AllowedHosts": "*",
        "Version":  "2.145.378.4",
    }
</div>
<div class="code">
    Imagine we want to read the <b>Version</b> value and use it in the application.
    In the <b>Startup.cs</b> file the default is already addressing the configuration.
</div>
<div class="code frame">
    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }
        ...
    }
</div>
<div class="code">
    In any controller class the constructor gets the configuration as a IConfiguration parameter as an interface.
    Likewise you can obtain the <b>Version</b> here.
</div>
<div class="code frame">
    public class HomeController : Controller
    {
        private IConfiguration Config;
        public HomeController(IConfiguration configuration)
        {
            Config = configuration;
        }
    ...
        public async Task<IActionResult> Index()
        {
            //Read the "Version" value return it on the View
            ViewBag.Ver = Config.GetSection("Version").Value;
            return View();
        }
     }
</div>
@{
}
