
@{
    ViewData["Title"] = "SecretsForJohnny";
}

<h1>SFJ</h1>

<ul>
    <li><a href="~/home/loj">Left Outer Join example</a></li>
    <li><a href="~/home/UnitTestInvolvingMocksAndstub">Unit test involving mocks/stub</a></li>
    <li><a href="https://github.com/johnnymex-dotcom/WebMyOwnFormsAuth">Complete MVC Forms Authentication with roles</a></li>
    <li><a href="~/home/GlobalizationIssue">Globalization (languages and resources)</a></li>
    <li><a href="~/home/JwtIssue">Jwt Example</a></li>
    <li><a href="~/home/DoSomeSoapActions">Soap using .NET Core.</a></li>
    <li><a href="~/home/WinServiceAction">Windows Service using .NET Core.</a></li>
</ul>