
@{
    ViewData["Title"] = "UnitTestInvolvingMocksAndstub";
}

<h1>Unit Test Involving Mocks And stubs</h1>
<div class="code">
    Problem is shown when you are testing code where Database Context is involved.
    You can choose to use <b>Moq</b> as one of the way to solve it.
    Click here to use it <a href="/home/UseMoqWithDbContext">Moq to use DbContext</a>
    Or you can use the <b>DbContextOptionsBuilder</b> class from Entity FrameWork where
    you implement an IN-Memory DbContext. 
    You can click <a href="/home/UseInMemoryDbContext">here to read about the IN-memory DbContext</a>
</div>


