
@{
    ViewData["Title"] = "Windows Service-Action in .NET Core";
}

<h2>Windows Service-Action in .NET Core</h2>

<div class="code">
    Run Nuget Packet Manager and implement following packages:
    <b>Microsoft.Extensions.Logging</b>    and    <b>Microsoft.Extensions.Hosting.WindowsServices</b>
    <img src="~/Images/NugetPM Image.jpg" width="400" />
    To make a windows-service in .NET Core, start by selecting a Worker service project
    like seen below.
    <img src="~/Images/Worker-Service.jpg" width="550" />
</div>