.Maintbl {
    width: 620px;
}

.HomeText {
    background-color: hotpink;
    color: white;
}

.HomeText:hover {
    background-color: hotpink;
    color: white;
    font-weight:bold;
}

.collapse {
    border-collapse: collapse;
}

.Border1 {
    border: 1px solid;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 16px;
    border: 1px solid chocolate;
    width: 620px;
    padding: 4px;
    background-color: blanchedalmond;
}

.test {
    color: chartreuse;
    background-color: chartreuse;
    font-weight: bold;
}


.cbox1 {
    width: 16px;
    height: 10px;
    background-color: limegreen;
}

.box {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

.hbox {
    display: inline-block;
    width: 32px;
    height: 22px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    background-color: beige;
}

.cbox {
    display: inline-block;
    width: 32px;
    height: 12px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}

.cboxEmpty {
    display: inline-block;
    width: 32px;
    height: 22px;
    text-align: center;
    padding: 2px;
}


.free {
    background-color: lime;
}

.prep {
    background-color: darkorange;
}

.occupied {
    background-color: red;
}

.anchor1, .anchor2, .anchor3 {
    font-size: 18px;
    cursor: pointer;
}

.sectionFrame {
    border: solid #bbbbbb 1px;
    border-radius: 10px
}

.navbar-Homemade {
    background-color: #eeeeee;
    border-color: #bebebe;
}

.resumeTbl {
    width: 98%;
    margin: 40px 10px 10px 10px;
}

    .resumeTbl th {
        background-color: gainsboro;
        border-right: solid 1px ghostwhite;
        padding: 5px 5px 5px 5px;
    }

    .resumeTbl td {
        height: 40px;
        border-bottom: solid 1px gainsboro;
        vertical-align: bottom;
        padding-left: 10px;
    }

.resumeDescColumn {
    width: 50%;
    vertical-align: top;
    background-color: gainsboro;
    font-weight: bold;
    padding-right: 5px;
    border-bottom: solid 1px ghostwhite !important;
}

    .resumeDescColumn:hover {
        color: yellow;
        background-color: darkgray;
    }

.resumeText {
    cursor: pointer;
}

.resumeTextEmphasized {
    font-size: 16px;
    background-color: gold;
}

.resumeText:hover {
    color: Highlight;
}

.resumeTextSubRow {
    font-size: 12px;
    color: brown;
    background-color: #fafafa;
    font-style: italic;
}

.closeFnc {
    width: 60px;
    height: 20px;
    float: right;
    background-color: transparent;
    border: none;
}

.competenceLevel {
    background-color: chartreuse;
    border: solid 1px darkcyan;
}

.levelFrame {
    margin: 10px 10px 10px 10px;
    border: solid 1px gainsboro;
}

    .levelFrame td {
        background-color: cornsilk;
    }

.levelHdr {
    background-color: burlywood !important;
}

.WaterContainer {
    width: 20px;
    height: 36px;
    border: 1px solid black;
}

.Water {
    width: 110%;
    background-color: aqua;
    border: 1px solid black;
    position: relative;
    left: -1px;
}

.EmpText {
    color: yellow;
    background-color: darkgray;
    padding: 3px 3px 3px 3px;
}

.remHistory01 {
    /*background-color:cornsilk*/
}

.AppTblFooter {
    background-color: darkgrey;
    border: solid 1px whitesmoke;
    border-collapse: collapse;
}

.AppTdFooter {
    background-color: darkgrey;
    border: solid 1px whitesmoke;
    padding: 4px 4px 4px 4px;
    margin: 2px 2px 2px 2px;
}

div.code {
    font-family: "Helvetica"; /*, monospace;*/
    white-space: pre;
}

div.frame {
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: ghostwhite
}

.divEmphasized {
    border-color: brown;
    border-style: ridge;
    border-width: 1px;
}

.divEmphasizedNotTop {
    border-right-color: brown;
    border-right-style: ridge;
    border-right-width: 1px;
    border-bottom-color: brown;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    border-left-color: brown;
    border-left-style: ridge;
    border-left-width: 1px;
}
